POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ev_analytics
POSTGRES_HOST=localhost
POSTGRES_PORT=6543

GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

API_PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:6543/ev_analytics?sslmode=disable
