# Project
PROJECT_NAME=timescale-support-lab

# TimescaleDB - Step 2
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=ev_analytics
POSTGRES_HOST=localhost
POSTGRES_PORT=6543

# Grafana - Step 2
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=admin

# API - Step 7
API_PORT=8080
DATABASE_URL=postgres://postgres:postgres@localhost:6543/ev_analytics?sslmode=disable

# Seed mode - Step 5
SEED_MODE=small